<?xml version="1.0"?>

<model>
    <name>Curious Robot</name>
    <version>1.0</version>

    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Musab</name>
    </author>

    <description>
        Simple differential drive robot for the Curious Robot project.
    </description>
</model>